Code/datasets/DisentanglingMotion/importing_data/moving_symbols/data/icons8
Code/datasets/DisentanglingMotion/importing_data/moving_symbols/data/mnist
Code/datasets/DisentanglingMotion/importing_data/moving_symbols/data/omniglot
Code/datasets/DisentanglingMotion/importing_data/moving_symbols/output
Code/datasets/UCF-101
Code/datasets/UCF-101-Frames
Code/datasets/UCF-101-OF
Code/DyanOF/Train2/Kitti_Flows
Code/DyanOF/Test/Results
Code/DyanOF/Test/Results0
inspiration


